<style>
  .main{
    text-align: center;
  }

  table{
    margin: auto;
  }
  
</style>

<main class="main">
    <h3>List</h3>
    <div>
      <label>Pick a Date</label>
      <input type="date" [(ngModel)]="datePicked" (ngModelChange)="onDatePicked()" />
    </div>
      <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Date Picked</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of fruitsShow">
                <td>{{item.name}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.price}}</td>
                <td>{{item.datePicked | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
      </table>
</main>


<router-outlet />
